<section class="gallery__seciton">
    <h2 class="title text-center">Pour Over Coffee Maker Set</h2>
    <img src="https://images.unsplash.com/photo-1663958749441-926bbef7cd0c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Pour Over Coffee Set">
    <p class="gallery__text text-center">A pour-over coffee set can unlock the full potential of coffee beans, may it be single origin or mixed. It lets enthusiasts brew a customized cup.</p>
    <h2 class="title text-center">Pour Over Coffee Maker Set</h2>
    <img src="https://images.unsplash.com/photo-1663958749441-926bbef7cd0c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Pour Over Coffee Set">
    <p class="gallery__text text-center">A pour-over coffee set can unlock the full potential of coffee beans, may it be single origin or mixed. It lets enthusiasts brew a customized cup.</p>
    <h2 class="title text-center">Pour Over Coffee Maker Set</h2>
    <img src="https://images.unsplash.com/photo-1663958749441-926bbef7cd0c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Pour Over Coffee Set">
    <p class="gallery__text text-center">A pour-over coffee set can unlock the full potential of coffee beans, may it be single origin or mixed. It lets enthusiasts brew a customized cup.</p>
</section>
