<section class="hero__image">
    <h1 class="title text-center">Brewing up the Perfect Gift</h1>
    <img src="https://images.unsplash.com/photo-1545785028-23ee5937cf69?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block" style="width: 50%; margin-left: auto; margin-right: auto; padding-top: 1em;" alt="Hero Image">
</section>
<section class="featured__content m-5">
    <p class="featured__text mx-5 text-center" style="text-align: justify;">Are you looking for a gift for a Coffee Enthusiast? Worry not! Whether they’re <br>coffee connoisseurs for a single-origin coffee beans, or looking for the latest <br> brewing gadgets, there’s a world of possibilities to explore. Here are some gift <br>ideas that will surely brew joy in their hearts.</p>
</section>
